/ IE8 support of HTML5 tags and media queries
/[if lt IE 9]
  = javascript_include_tag 'https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js'
  = javascript_include_tag 'https://oss.maxcdn.com/respond/1.4.2/respond.min.js'
/ IE8 support end
